<article id="wrapItCsvs">
	<h1>From:</h1>
	<div>
		<input id="fromNewline" type="radio" name="from-type" ng-model="fromType" value="newline"/>
		<label for="fromNewline">New Line List</label>

		<input id="fromSpaces" type="radio" name="from-type" ng-model="fromType" value="spaces"/>
		<label for="fromSpaces">CSV With Spaces</label>

		<input id="fromCsv" type="radio" name="from-type" ng-model="fromType" value="csv"/>
		<label for="fromCsv">CSV Without Spaces</label>
	</div>

	<div>
		<textarea ng-model="fromText"></textarea>
	</div>

	<h1>To:</h1>
	<div>
		<input id="toNewline" type="radio" name="to-type" ng-model="toType" value="newline"/>
		<label for="toNewline">New Line List</label>

		<input id="toSpaces" type="radio" name="to-type" ng-model="toType" value="spaces"/>
		<label for="toSpaces">CSV With Spaces</label>

		<input id="toCsv" type="radio" name="to-type" ng-model="toType" value="csv"/>
		<label for="toCsv">CSV Without Spaces</label>
	</div>

	<div>
		<textarea ng-model="toText"></textarea>
	</div>

	<button ng-click="convert()">Convert</button>

</article>
<br>
<br>